
.vs/GameProject/FileContentIndex/bc60d8d2-3512-4edb-b192-769d64f5244f.vsidx
.vs/GameProject/FileContentIndex/c414776a-28c4-41f6-874e-e7bbd887f172.vsidx
.vs/GameProject/v17/.wsuo
.vs/ProjectSettings.json
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
